<h3>Speaker suitable for Monitoring</h3>
<details>
  <summary>Details</summary>
  <table>
    <thead>
    <tr>
      <th>Play</th>
      <th>Frequency</th>
      <th>Deviation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let failingFrequency of tableResults">
      <td (click)="generateSound(Number(failingFrequency.frequency))" style="cursor: pointer; text-decoration:underline "><fa-icon [icon]="faPlay"></fa-icon></td>
      <td>{{failingFrequency.frequency}}</td>
      <td><span>{{failingFrequency.value}}dB</span></td>
    </tr>
    </tbody>
  </table>
</details>


<sub>The speaker within range for a valid studio monitor. Expect small deviations from a real studio monitor.</sub>
